name: Tests

on:
  workflow_dispatch:
  push: {tags-ignore: ['**'], branches: ['**']}

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        blas: ['True', 'False']
        os: ['ubuntu-24.04', 'windows-2022', 'macos-15']
        exclude:
          - {blas: 'True', os: 'windows-2022'}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Conan
        uses: ./.github/workflows/setup-conan
        with:
          python-version: '3.12'
          cache-key: build-and-test${{ matrix.blas == 'True' && '-blas' || ''}}

      - name: Install dependencies, build and test
        shell: bash
        run: >
          WIN_PATH="${{ github.workspace }}";
          UNIX_PATH="${WIN_PATH//\\//}";
          conan build . --build=missing
          -c \&:tools.cmake.cmaketoolchain:generator="Ninja Multi-Config"
          -c \&:tools.cmake.cmaketoolchain:user_toolchain+="[\"$UNIX_PATH/cmake/sccache.cmake\"]"
          -c nanobind/\*:tools.build:skip_test=True
          -c \&:user.guanaqo:with_python_tests=True
          -o \&:with_blas=${{ matrix.blas }}
          -o openblas/\*:dynamic_arch=True
          -s:h compiler.cppstd=23 -s:b compiler.cppstd=20
        env:
          CTEST_OUTPUT_ON_FAILURE: "1"

      - run: conan cache clean

  docs:
    name: Generate Documentation
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Conan
        uses: ./.github/workflows/setup-conan
        with:
          python-version: '3.12'
          cache-key: docs

      - name: Install Doxygen
        run: >
          wget -qO- https://github.com/doxygen/doxygen/releases/download/Release_1_16_1/doxygen-1.16.1.linux.bin.tar.gz
          | sudo tar xz -C /usr/local/bin doxygen-1.16.1/bin/doxygen --strip-components=2

      - name: Install LCOV
        run: >
          wget -qO- https://github.com/linux-test-project/lcov/releases/download/v2.4/lcov-2.4.tar.gz
          | sudo tar xz -C /usr/local --strip-components=1

      - name: Install Graphviz and Perl dependencies
        run: >
          sudo apt update && sudo apt install -y graphviz libcapture-tiny-perl libdatetime-perl
          libdevel-cover-perl libdigest-md5-perl libjson-xs-perl libmodule-load-conditional-perl
          libtimedate-perl

      - name: Install dependencies
        shell: bash
        run: >
          WIN_PATH="${{ github.workspace }}";
          UNIX_PATH="${WIN_PATH//\\//}";
          conan install . --build=missing -of build/docs
          -c \&:tools.cmake.cmaketoolchain:generator="Ninja"
          -c \&:tools.cmake.cmaketoolchain:user_toolchain+="[\"$UNIX_PATH/cmake/sccache.cmake\"]"
          -c nanobind/\*:tools.build:skip_test=True
          -o \&:with_blas=True
          -o openblas/\*:dynamic_arch=True
          -s:h compiler.cppstd=23 -s:b compiler.cppstd=20
          -s:h build_type=Debug -s:b build_type=Release

      - name: Generate documentation and coverage report
        shell: bash
        run: |
          doxygen/scripts/gen-docs.sh "${{ github.workspace }}/staging" conan-debug
